<% include partials/header %>

<div class="container text-center">
    <h1>Hello, <%= user.firstname %> <%= user.lastname %></h1>

    <p>Remember That? On <%= user.registered %>, <%= user.firstname %> met TVSensei. <%= user.profile.pronouns %> were <%= user.age %> that year, an age that <%= user.profile.pronouns %> start enjoying English learning. <%= user.firstname %>'s hometown is in <%= user.profile.nationality%>, and <%= user.profile.pronouns %> use <%= user.profile.native_language %> as native language. But <%= user.firstname %> enjoyed English learning, so TVSensei was here to help. With TVSensei, <%= user.firstname %> wanted to achieve one goal: <%= user.profile.goal %>.  </p>

</div>
<% include partials/footer %>